*{
    color: #075e54;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(236,229,221, .3)
}
.app{
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    
}
input, textarea{
    background-color: rgba(236,229,221, .3);
    border-top: 1px solid #ece5dd;
    border-left: 1px solid #ece5dd;
    border-right: 1px solid #ece5dd;
    border-bottom: 3px solid #25d366;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}
#msg{
    height: 350px;
}
label{
    font-weight: 600;
    font-size: 1em;
}
button{
    width: 6em;
    height: 2.5em;
    border-radius: 2em;
    color: white;
    font-weight: 600;
    background-color: #25d366;
    border: none;
    margin-right: auto;
    margin-top: 5px;

}
button:hover{
    cursor: pointer;
    opacity: .8;
}
textarea{
    resize: none;
}

.mb-5{
    margin-bottom: 5px;
}

.w1{
    width: 50%;
}
.w2{
    width: 100%;
}

@media screen and (min-width: 640px){
    .app{
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 550px;
    }
}